/* Dracula Theme v1.0.0
#
# https://github.com/luizpaulo165/sidebar-switch
#
# Copyright 2017, All rights reserved
#
# @author luizpaulo165 <luizpaulo165@gmail.com>
#
*/

.main-view .sidebar{
    left:calc(100% - 200px)!important;
}
.main-view .content{
    width: calc(100vw - 230px)!important;
    left: 30px!important;
}
#main-toolbar{
    left:0!important;
}
.sidebar-selection-extension, .filetree-selection-extension{
    left:0!important;
    right:190px!important;
}